<p id="notice"><%= notice %></p>

<p>
  <strong>Exercite:</strong>
  <%= @admin_all_exercise.exercite_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @admin_all_exercise.title %>
</p>

<p>
  <strong>Sentences:</strong>
  <%= @admin_all_exercise.sentences %>
</p>

<%= link_to 'Edit', edit_admin_all_exercise_path(@admin_all_exercise) %> |
<%= link_to 'Back', admin_all_exercises_path %>
