<style>
    .lesson-wrapper {
        width: 800px;
        font-size: 20px;

        margin: 0 auto;
    }

        .bg-word{

            width: 400px;
            float: left;
        }
        .en-word{
            width: 400px;
            float: left;
        }


</style>

<div class="lesson-wrapper">
<hr>
<% @lessons.each_with_index do |lesson, i| %>
      <div>
        <a href="/view_lessons/<%= lesson.id%>"> Conversation<%= i %> </a>
        <a href="/view_lessons/<%= lesson.id%>/exercise_bg"> Exercise BG -> EN </a>
        <a href="/view_lessons/<%= lesson.id%>/exercise_en"> Exercise EN -> BG </a>
      </div>

    <% eval(lesson.conversation).map do |k, v| %>
      <div class="en-word">- <%= k %></div>  <div class="bg-word">- <%= v %></div>
      <br>
    <% end %>
      <hr>
<% end %>

</div>