<p id="notice"><%= notice %></p>

<h1>Listing Admin Sub Categories</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_sub_categories.each do |admin_sub_category| %>
      <tr>
        <td><%= admin_sub_category.category_id %></td>
        <td><%= admin_sub_category.name %></td>
        <td><%= link_to 'Show', admin_sub_category %></td>
        <td><%= link_to 'Edit', edit_admin_sub_category_path(admin_sub_category) %></td>
        <td><%= link_to 'Destroy', admin_sub_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sub category', new_admin_sub_category_path %>
