<%= form_for(@admin_button) do |f| %>
  <% if @admin_button.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_button.errors.count, "error") %> prohibited this admin_button from being saved:</h2>

      <ul>
      <% @admin_button.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name_button %><br>
    <%= f.text_field :name_button %>
  </div>
  <div class="field">
    <%= f.label :title_button %><br>
    <%= f.text_field :title_button %>
  </div>
  <div class="field">
    <%= f.label :type_button %><br>
    <%= f.text_field :type_button %>
  </div>
  <div class="field">
    <%= f.label :path_button %><br>
    <%= f.text_field :path_button %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
