<p id="notice"><%= notice %></p>

<p>
  <strong>Name button:</strong>
  <%= @admin_button.name_button %>
</p>

<p>
  <strong>Title button:</strong>
  <%= @admin_button.title_button %>
</p>

<p>
  <strong>Type button:</strong>
  <%= @admin_button.type_button %>
</p>

<p>
  <strong>Path button:</strong>
  <%= @admin_button.path_button %>
</p>

<%= link_to 'Edit', edit_admin_button_path(@admin_button) %> |
<%= link_to 'Back', admin_buttons_path %>
