<div class="form-style" >
<%= form_for(@admin_word_lesion) do |f| %>
  <% if @admin_word_lesion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_word_lesion.errors.count, "error") %> prohibited this admin_word_lesion from being saved:</h2>

      <ul>
      <% @admin_word_lesion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div>
        <%= f.label :lesion_id %>
        <%= f.collection_select(:lesion_id, Admin::Lesion.all, :id, :name_lesion, :prompt => "Select Lesion")  %>
      </div>

  <div >
    <%= f.label :en_word %>
    <%= f.text_field :en_word , placeholder: 'Enter Number View'%>
  </div>

  <div>
    <%= f.label :bg_word %>
    <%= f.select(:parts_of_speech, [[''], ['verb'], ['noun'], ['adverb'], ['adjective'], ['pronoun'], ['preposition'], ['conjunction'], ['interjection'], [' numeral'], ['particle']], {:prompt => 'Select part of speech'}, {class: "form-control"}) %>
  </div>

  <div>
    <%= f.label :en_audio_word %>
    <%= f.file_field :en_audio_word %>
  </div>
      <br>
  <div>
    <%= f.label :bg_word %>
    <%= f.text_field :bg_word %>
  </div>
  <div >
    <%= f.label :bg_audio_word %>
    <%= f.text_field :bg_audio_word %>
  </div>
  <div>
    <%= f.label :visible_word %>
    <%= f.text_field :visible_word %>
  </div>
  <div>
    <%= f.label :img_word %>
    <%= f.file_field :img_word %>
  </div>
   <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>