<style>
  td img{
      width: 30px;
  }

</style>
<%= render 'admin/shared/ver_admin_nav'%>

<p id="notice"><%= notice %></p>

<h1>Listing Admin Word Lesions</h1>

<table>
  <thead>
    <tr>
      <th>En word</th>
      <th>Parts of speech</th>
      <th>En audio word</th>
      <th>Bg word</th>
      <th>Bg audio word</th>
      <th>Visible word</th>
      <th>Img word</th>
      <th>Lesion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_word_lesions.each do |admin_word_lesion| %>
      <tr>
        <td><%= admin_word_lesion.en_word %></td>
        <td><%= admin_word_lesion.parts_of_speech %></td>

        <td>
            <audio controls>
              <source src='<%= "#{admin_word_lesion.en_audio_word}" %>'  type="audio/mpeg" >
            </audio>
        <% admin_word_lesion.en_audio_word %>
        </td>

        <td><%= admin_word_lesion.bg_word %></td>
        <td><%= admin_word_lesion.bg_word %></td>
        <td><%= admin_word_lesion.bg_audio_word %></td>
        <td><%= admin_word_lesion.visible_word %></td>


        <td><img src="<%= admin_word_lesion.img_word %>"></td>

        <td><%= admin_word_lesion.lesion_id %></td>
        <td><%= link_to 'Show', admin_word_lesion %></td>
        <td><%= link_to 'Edit', edit_admin_word_lesion_path(admin_word_lesion) %></td>
        <td><%= link_to 'Destroy', admin_word_lesion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Word lesion', new_admin_word_lesion_path %>
