<%= render 'admin/shared/ver_admin_nav'%>
<p id="notice"><%= notice %></p>

<p>
  <strong>En word:</strong>
  <%= @admin_word_lesion.en_word %>
</p>

<p>
  <strong>En audio word:</strong>
  <%= @admin_word_lesion.en_audio_word %>
</p>

<p>
  <strong>Bg word:</strong>
  <%= @admin_word_lesion.bg_word %>
</p>

<p>
  <strong>Bg audio word:</strong>
  <%= @admin_word_lesion.bg_audio_word %>
</p>

<p>
  <strong>Visible word:</strong>
  <%= @admin_word_lesion.visible_word %>
</p>

<p>
  <strong>Img word:</strong>
  <%= @admin_word_lesion.img_word %>
</p>

<p>
  <strong>Lesion:</strong>
  <%= @admin_word_lesion.lesion_id %>
</p>

<%= link_to 'Edit', edit_admin_word_lesion_path(@admin_word_lesion) %> |
<%= link_to 'Back', admin_word_lesions_path %>
